/* RESET STYLES
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "Rubik", sans-serif;
    vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: flex;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END RESET */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* MAIN STYLES */

:root {
  --blue: #2365b5;
  --red: #cf2929;
  --ivory: #f4f4f0;
  --light-blue: #cfd5de;
  --grey: #404040;
}
html {
  font-size: 1rem;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  background: var(--light-blue) url("./img/flag-bkg.png") no-repeat left top;
  background-size: auto;
}

/* Header */
header {
  background: var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--ivory);
  text-transform: uppercase;
  padding: 20px 30px;
}
header h1 {
  font-size: 2em;
  font-weight: 600;
  border-bottom: 3px solid var(--red);
  padding-bottom: 10px;
}
.logo {
  display: flex;
  flex-direction: column;
  width: fit-content;
  block-size: fit-content;
}
.logo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}
.logo-list li {
  font-weight: 500;
}
.nav,
.nav ul {
  display: flex;
  align-items: center;
}
.nav li a {
  color: var(--ivory);
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 400;
  padding: 0 30px;
}
.nav li a:hover {
  color: var(--grey);
}
.nav li:last-child {
  background: var(--red);
  padding: 1rem;
}
/* Footer */
footer {
  height: 50px;
  width: 100%;
  background: var(--red);
  margin-top: auto;
}
footer p {
  color: var(--ivory);
  text-transform: uppercase;
  padding: 15px;
}
